/* Customs */
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

:root {
    --main-color: #28a745;
    --black: #212529;
    --gray: #707070;
    --light: #F8F9FA;
    --white: #fff;
}

.color-black {
    color: var(--black);
}

.color-gray {
    color: var(--gray);
}

.color-white {
    color: var(--white);
}
.color-green {
    color: var(--main-color);
}
.bg-white{
    background-color: var(--white);
}

.bg-light {
    background-color: var(--light);
}
.bg-green {
    background-color: var(--main-color);
}


.navbar-toggler {
    line-height: 1.3;
    border: 1px solid var(--white);
 }
 .navbar-toggler-icon {
     background-image: none;
 }
 .navbar-toggler-icon::before {
     font-family: FontAwesome;
     content: "\f0c9"; /* fa-bars, fa-navicon */
     color: var(--white);
 }